<form [formGroup]="form" class="Form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Insira o seu email</mat-label>
    <input type="text" matInput formControlName="email">
    <mat-error *ngIf="form.controls.email.invalid">First Name is required</mat-error>
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Insira a sua password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password ">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="form.invalid" color="primary">Entrar</button>

  </form>
