.p {background: rgb(87, 87, 243);
    color: white;
    border-radius: 5px;
    padding: 1em;
    width: 200px;
    height: 20px;
    position: absolute;
    left: 40px;
    top: 80px;
}
.p2 {background: rgb(87, 87, 243);
    color: white;
    border-radius: 5px;
    padding: 1em;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40px;
    top: 130px;
}