<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>

    <button mat-stroked-button color="accent">Accent</button>
    <button id="basic" type="button" mat-button>
        Basic button
      </button>
    <!-- <h1>
        Politica Transparente
    </h1>
    <button>
        Entrar
    </button>
    <button>
        registar
    </button> -->
</header>

<body>
</body>
</html>



<router-outlet></router-outlet>
