<div class="content">
  <mat-card>
    <mat-card-title>{{post.titulo}}</mat-card-title>
    <mat-card-subtitle class="autor" (click)="goToPerfil(post.author_id)">Autor: {{post.author_name}}</mat-card-subtitle>
    <p><mat-card-subtitle *ngFor="let envolvido of post.envolvidos" class="autor" (click)="goToPerfil(envolvido._id)">{{envolvido.nome}} - {{envolvido.afiliacao}}</mat-card-subtitle></p>
    <mat-card-content>
      <p>{{post.descricao}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button matBadge={{numberOfVotes}} *ngIf="loggedIn" (click)="votar()"><mat-icon>{{voted ? 'favorite' : 'favorite_border'}}</mat-icon></button>
      <button color="warn" *ngIf="show" mat-raised-button (click)="apagar()">Apagar</button>
    </mat-card-actions>
  </mat-card>
</div>
