<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
		<mat-form-field>
			<input type="text" matInput placeholder="Nome" formControlName="nome">
			<mat-error *ngIf="form.controls.nome.invalid">Nome Necessario</mat-error>
		</mat-form-field>
  </p>
  <p>
		<mat-form-field>
			<input type="text" matInput placeholder="Email" formControlName="email">
			<mat-error *ngIf="form.controls.email.invalid">Email Necessario</mat-error>
		</mat-form-field>
  </p>
  <p>
		<mat-form-field>
			<input type="password" matInput placeholder="Password" formControlName="password">
			<mat-error *ngIf="form.controls.password.invalid">Password is required</mat-error>
		</mat-form-field>
  </p>
  <div class="button">
		<button type="submit" mat-raised-button [disabled]="form.invalid" color="primary">Registar</button>
	</div>
</form>
